<div class="navbar">
  <div class="row">
    <div class="col"> 
      <a>
        <img src="../../../assets/images/logoheader.png" alt="Logo" style="height: 60px; ">
      </a>
    </div>
    <div class="col">
      <div class="input-group ">
        <div class="form-outline">
          <input placeholder="Search" id="search-focus" type="search" id="form1" class="form-control" />
        </div>
      </div>
    </div>
    <div> 
      <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button>

    </div>
    
  </div>
    
  </div>
  
  <div class="main">
    <p>.</p>
  </div>
  <!-- The sidebar -->
  <div class="sidebar">
    <a routerLink="/home">Home</a>
    <a routerLink="/home/pendingrequest">Search</a>
    <a routerLink="/home/rejectedloan">Report</a>
    <a routerLink="/home/rolemanagement">Role Management</a>
    <a routerLink="/home/createrole">Create Role</a>
    
  </div>
